.menu-booking-history {
  .ps-menu-button {
    padding-left: 15px !important;
  }
}

.menu-booking-history.active {
  .ps-menu-button.ps-open {
    background-color: rgba(245, 37, 73, 0.05);
    color: #f52549;
  }
}
