.booking_overview_hotel {
  .booking_overview_hotel_supplier-name {
    //styleName: Body/Semi - size 18px;
    font-family: Be Vietnam Pro;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3a3e4d;
    margin-left: 16px;
  }
}
