.okdimall_checkbox {
  display: flex;
  align-items: center;

  // input {
  //   display: none; // Ẩn input mặc định
  // }

  // Giao diện cho checkbox mặc định
  .form-checkbox__mark {
    // border: 1px solid #3a3e4d;
    &:hover {
      border: none !important;
    }
    &:focus {
      border: none !important;
    }
  }

  input:checked + .form-checkbox__mark::after {
    display: block; // Hiển thị dấu check hoặc chấm bên trong khi chọn
  }

  label {
    margin-left: 10px;
    cursor: pointer;
  }
}
