.introContainer {
  .introImage {
    height: 640px;
    border-radius: 4px;
    @media (max-width: 1200px) {
      height: 600px;
    }
    @media (max-width: 992px) {
      height: 500px;
    }
    @media (max-width: 768px) {
      height: 400px;
    }
    @media (max-width: 576px) {
      height: 300px;
    }
  }
}
