button {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  text-decoration: none;

  &:focus {
    outline: 0;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  line-height: 1;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  border-radius: 30px;
  border: 1px solid transparent;
  transition: all 0.3s $easeOutQuart;
}

.button.-no-color {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  transition: all 0.3s $easeOutQuart;
}

.button {
  &.-sm {
    padding: 10px 20px;
  }

  &.-md {
    padding: 14px 30px;
  }

  &.-lg {
    padding: 19px 30px;
  }

  &.-min-180 {
    min-width: 180px;
  }
  &.-min-210 {
    min-width: 210px;
  }

  &.-underline:hover {
    text-decoration: underline;
  }
}

@each $name, $color in $colors {
  .button.-#{ "" + $name } {
    &:hover,
    &.active {
      border-color: var(--color-#{"" + $name});
      background-color: var(--color-#{"" + $name}) !important;
      color: white !important;
    }
  }

  .button.-outline-#{ "" + $name } {
    border-color: var(--color-#{"" + $name});

    &:hover {
      background-color: var(--color-#{"" + $name});
      border-color: transparent;
      // color: white !important;
    }
  }
}

.button.-outline-blue-1 {
  border-color: var(--color-blue-1);

  &:hover {
    background-color: var(--color-blue-1);
    border-color: transparent;
    color: white !important;
  }
}

.button.-white {
  &:hover {
    background-color: var(--color-light-3) !important;
    color: var(--color-dark-1) !important;
  }
}

.button.-blue-1-05 {
  &:hover {
    background-color: color-opac(blue-1, 0.05) !important;
    color: var(--color-blue-1) !important;
  }
}

.button.-outline-white {
  &:hover {
    background-color: white !important;
    color: var(--color-dark-1) !important;
  }
}

.button.-no-outline {
  border: none;
  &:hover {
    background-color: white !important;
    color: var(--color-blue-1) !important;
    border: none;
  }
}

.hot-tag {
  border: 1.2px solid var(--color-pink);
  color: var(--color-pink);
  font-size: 11px;
  line-height: 16px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 6px;
  padding: 0px 8px;
  margin-right: 8px;
}
