.upload-avatar-container {
  position: relative;
  margin-bottom: 30px;
  @include media-below(md) {
    margin-bottom: 10px;
  }

  .user-avatar-container {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    .user-avatar-img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
    @include media-below(md) {
      width: 140px;
      height: 140px;
    }
  }

  .icon-container {
    position: absolute;
    top: 30px;
    left: 140px;
    // background: #f5490f;
    background-color: #3554d1;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 48px;
    height: 48px;
    .icon-img {
      width: 22px;
      font-size: 30px;
      color: white;
    }
  }
}

.btn-change-password,
.btn-forgot-password {
  margin-top: 50px;
  img {
    display: none;
    // visibility: hidden;
  }
  &:hover {
    img {
      // visibility: visible;
      display: inline-block;
    }
  }
}
