.topDestinationCard {
  .cardItem {
    border-radius: 8px !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 440px;
    padding: 20px;

    @media (max-width: 767px) {
      height: 360px !important;
    }
    @media (min-width: 768px) and (max-width: 992px) {
      height: 400px !important;
    }

    .cardImage {
      height: 100% !important;
      overflow: hidden;
      position: relative;

      .image {
        object-fit: cover;
        border-radius: 8px !important;
        height: 100%;
        transition: all 0.6s;
      }

      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }

    .cardContent {
      position: absolute;
      bottom: 10%;
      left: 11%;
      box-shadow: none;
      background-color: rgba(58, 62, 77, 0.5019607843);
      width: 78%;
      padding: 10px;
      border-radius: 4px;
    }
  }
}
