.okdimall_textarea {
  .okdimall_textarea-label {
    //styleName: Small/Medium - size 14px;
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3a3e4d;
  }
  .okdimall_textarea-field {
    border: 1px solid #ededf4;
    padding-left: 12px;
  }
}
