.legal-content {
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #262626;
    @media (max-width: 992px) {
      font-size: 20px;
    }
  }

  h2 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    color: #262626;
    @media (max-width: 992px) {
      font-size: 18px;
    }
  }

  h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    color: #262626;
    @media (max-width: 992px) {
      font-size: 16px;
    }
  }

  p {
    font-size: 16px;
    color: #262626;
    margin-bottom: 0.75rem;
    line-height: 1.6;
    @media (max-width: 992px) {
      font-size: 15px;
    }
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
  }

  ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
  }

  ul, ol {
    li {
      font-size: 16px;
      color: #262626;
      margin-bottom: 0.5rem;
      line-height: 1.6;
      @media (max-width: 992px) {
        font-size: 15px;
      }
      @media (max-width: 768px) {
        font-size: 14px;
      }

      ul {
        margin-top: 0.5rem;
      }
    }
  }
}
