.grid-container-masonry {
  columns: 3 100px;
  column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
  .masonry-item {
    width: 150px;
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;
    padding: 5px;
    transition: all 0.25s ease-in-out;
  }
}
