.hotelDetailSearch {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 20px;
}

.hotelDetailSearchSticky {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: sticky;
  top: 80px;
  z-index: 10;
}

.helpfulFacts {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 8px;
}
