.masterSearch {
  .tabCustom {
    width: fit-content;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  .searchBar {
    border-top-left-radius: 0;
  }
  .custom-border {
    border-top-left-radius: 16px;
  }

  .dropdownMenu {
    margin-top: 15px !important;
  }
}
