.custom-dropdown {
  position: relative;
  display: inline-block;

  &-label {
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff7f9;
  }

  &-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .custom-dropdown-item {
      padding: 10px 15px;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }

  .custom-dropdown-icon {
    margin-left: 10px;
    transition: transform 0.2s;
  }

  .custom-dropdown-icon.open {
    transform: rotate(180deg);
  }
}

@media screen and (max-width: 576px) {
  .custom-dropdown {
    &-menu {
      min-width: 150px;
      left: -100px;
      top: 116%;
    }
  }
}
