.modal-custom-size3 {
  width: 40%;
}
.modal-custom-size1 {
  width: 55%;
}
.modal-custom-size2 {
  width: 70%;
}
.modal-custom-size4 {
  width: fit-content;
  top: 20%;
  transform: translate(-50%, -20%);
}

@media screen and (max-width: 1280px) {
  .modal-custom-size2 {
    width: 90%;
  }
}

@media screen and (max-width: 992px) {
  .modal-custom-size1 {
    width: 70%;
  }
  .modal-custom-size2 {
    width: 96%;
  }
  .modal-custom-size3 {
    width: 80%;
  }
  .modal-custom-size4 {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .modal-custom-size1 {
    width: 80%;
  }
  .modal-custom-size3 {
    width: 90%;
  }
  .modal-custom-size4 {
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .modal-custom-size1 {
    width: 100%;
    height: 100%;
    top: 0 !important;
    overflow: auto;
  }

  .modal-custom-size2 {
    width: 100%;
    height: 100vh;
  }

  .modal-custom-size3 {
    width: 94%;
  }
  .modal-custom-size4 {
    width: 94%;
  }
}
// @media screen and (max-width: 400px) {
//   .modal-custom-size1 {
//     width: 100%;
//   }
// }
