.rating_hotel {
  .rating_hotel-title {
    font-family: Be Vietnam Pro;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3a3e4d;
    margin-bottom: 24px;
  }

  .rating_hotel_content {
    .rating_hotel_item {
      margin-bottom: 16px;
    }
    .rating_hotel_last-item {
      margin-bottom: 0;
    }
  }
}
