.hotel_list_content_header {
  padding: 19px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ededf4;
  .hotel_list_content_header-left {
    display: flex;
    align-items: center;
    .title {
      font-family: Be Vietnam Pro;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #3a3e4d;
      margin-left: 8px;
    }
    .number {
      font-family: Be Vietnam Pro;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;

      background-color: #f52549;
      color: #fff;
      padding: 4px 6px;
      border-radius: 5px;
      margin-left: 8px;
    }
  }
  .hotel_list_content_header-right {
    display: flex;
    align-items: center;
    .title {
      //styleName: Small/Regular - size 14px;
      font-family: Be Vietnam Pro;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #3a3e4d;
      margin-right: 8px;
    }
  }
}
