.banner_tour_list {
  background-image: url(/images/TourList/banner.webp);
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 640px;
  background-size: cover;

  .banner_tour_content {
    width: 90%;
    padding-top: 15%;
    margin: auto;
  }
}
@media only screen and (max-width: 992px) {
  .banner_tour_list {
    min-height: 450px;
    .banner_tour_content {
      padding-top: 20%;
    }
  }
}

@media screen and (max-width: 768px) {
  .banner_tour_list {
    min-height: 400px;
    .banner_tour_content {
      width: 90%;
      padding-top: 20%;
      margin: auto;
    }
  }
}
@media screen and (max-width: 576px) {
  .banner_tour_list {
    .banner_tour_content {
      padding-top: 40%;
    }
  }
}
