.table-cancel-booking-info {
  width: 100%;
  thead {
    background-color: #00aeed !important;
    color: #fff;
    th {
      font-size: 16px;
      font-weight: 400;
      padding: 10px 0;
      padding-left: 5px;
    }
  }
  tbody {
    tr {
      td {
        padding: 10px 0;
        padding-left: 5px;
        font-size: 14px;
        font-weight: 400;
        border-bottom: 1px solid #e0e0e0;
      }
    }
  }
  tfood {
    div {
      text-align: right;
    }
  }
  .hide-border-bottom {
    td {
      border-bottom: none !important;
    }
  }
}
