.accommodation_type {
  .accommodation_type-title {
    font-family: Be Vietnam Pro;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3a3e4d;
    margin-bottom: 24px;
  }
  .accommodation_list {
    .accommodation_list-item {
      margin-bottom: 16px;
    }
    .accommodation_list-last-item {
      margin-bottom: 0;
    }
  }
}
