$_sizesBreaks: xxl, xl, lg, md, sm;

$sizes: 0, 3, 4, 5, 6, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23,
  24, 25, 27, 28, 30, 32, 33, 34, 35, 36, 38, 40, 45, 48, 50, 52, 53, 54, 55, 56,
  60, 64, 65, 70, 72, 80, 88, 90, 100, 120, 150, 160, 180, 200, 300;

@each $size in $sizes {
  .py-#{$size} {
    padding-top: #{$size}px !important;
    padding-bottom: #{$size}px !important;
  }

  .px-#{$size} {
    padding-left: #{$size}px !important;
    padding-right: #{$size}px !important;
  }

  .pt-#{$size} {
    padding-top: #{$size}px !important;
  }
  .pb-#{$size} {
    padding-bottom: #{$size}px !important ;
  }
  .pl-#{$size} {
    padding-left: #{$size}px !important ;
  }
  .pr-#{$size} {
    padding-right: #{$size}px !important;
  }
  .mt-#{$size} {
    margin-top: #{$size}px !important;
  }
  .mb-#{$size} {
    margin-bottom: #{$size}px !important;
  }
  .ml-#{$size} {
    margin-left: #{$size}px !important;
  }
  .mr-#{$size} {
    margin-right: #{$size}px !important ;
  }
}

@each $break in $_sizesBreaks {
  @include media-below($break) {
    @each $size in $sizes {
      .#{$break}\:py-#{$size} {
        padding-top: #{$size}px !important;
        padding-bottom: #{$size}px !important;
      }

      .#{$break}\:px-#{$size} {
        padding-left: #{$size}px !important;
        padding-right: #{$size}px !important;
      }

      .#{$break}\:pt-#{$size} {
        padding-top: #{$size}px !important;
      }
      .#{$break}\:pb-#{$size} {
        padding-bottom: #{$size}px !important;
      }
      .#{$break}\:pl-#{$size} {
        padding-left: #{$size}px !important;
      }
      .#{$break}\:pr-#{$size} {
        padding-right: #{$size}px !important;
      }
      .#{$break}\:mt-#{$size} {
        margin-top: #{$size}px !important;
      }
      .#{$break}\:mb-#{$size} {
        margin-bottom: #{$size}px !important;
      }
      .#{$break}\:ml-#{$size} {
        margin-left: #{$size}px !important;
      }
      .#{$break}\:mr-#{$size} {
        margin-right: #{$size}px !important;
      }
    }
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

@each $break in $_sizesBreaks {
  @include media-below($break) {
    .#{$break}\:mx-auto {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@each $break in $_sizesBreaks {
  @include media-below($break) {
    .#{$break}\:h-220 {
      height: 220px !important;
      min-height: 220px !important;
    }
    .#{$break}\:h-300 {
      height: 300px !important;
      min-height: 300px !important;
    }
    .#{$break}\:h-400 {
      height: 400px !important;
      min-height: 400px !important;
    }
    .#{$break}\:h-100vh {
      height: 100vh !important;
    }
  }
}

$gap-sizes-media: md, sm;
$gap-sizes: 0, 5, 10, 15, 20, 30, 40, 50, 60, 80;

@each $gap in $gap-sizes {
  .x-gap {
    &-#{$gap} {
      margin-left: -#{calc($gap / 2)}px;
      margin-right: -#{calc($gap / 2)}px;

      > * {
        padding-left: #{calc($gap / 2)}px;
        padding-right: #{calc($gap / 2)}px;
      }
    }
  }

  .y-gap {
    &-#{$gap} {
      margin-top: -#{calc($gap / 2)}px;
      margin-bottom: -#{calc($gap / 2)}px;

      > * {
        padding-top: #{calc($gap / 2)}px;
        padding-bottom: #{calc($gap / 2)}px;
      }
    }
  }
}

@each $media in $gap-sizes-media {
  @include media-below(md) {
    @each $gap in $gap-sizes {
      .#{$media}\:x-gap {
        &-#{$gap} {
          margin-left: -#{calc($gap / 2)}px;
          margin-right: -#{calc($gap / 2)}px;

          > * {
            padding-left: #{calc($gap / 2)}px;
            padding-right: #{calc($gap / 2)}px;
          }
        }
      }

      .#{$media}\:y-gap {
        &-#{$gap} {
          margin-top: -#{calc($gap / 2)}px;
          margin-bottom: -#{calc($gap / 2)}px;

          > * {
            padding-top: #{calc($gap / 2)}px;
            padding-bottom: #{calc($gap / 2)}px;
          }
        }
      }
    }
  }
}

$layout-sizes: (
  "sm": 30,
  "md": 60,
  "lg": 120,
  "xl": 140,
);

$layout-sizes-md: (
  "sm": 30,
  "md": 60,
  "lg": 100,
  "xl": 120,
);

$layout-sizes-sm: (
  "sm": 30,
  "md": 30,
  "lg": 60,
  "xl": 60,
);

@each $media, $size in $layout-sizes {
  .layout-pt-#{$media} {
    padding-top: #{$size}px;
  }

  .layout-pb-#{$media} {
    padding-bottom: #{$size}px;
  }
}

@each $media, $size in $layout-sizes-md {
  @include media-below(md) {
    .layout-pt-#{$media} {
      padding-top: #{$size}px;
    }

    .layout-pb-#{$media} {
      padding-bottom: #{$size}px;
    }
  }
}

@each $media, $size in $layout-sizes-sm {
  @include media-below(sm) {
    .layout-pt-#{$media} {
      padding-top: #{$size}px;
    }

    .layout-pb-#{$media} {
      padding-bottom: #{$size}px;
    }
  }
}

.w-1\/7 {
  width: 14.285714% !important;
}
.w-1\/6 {
  width: 16.666666% !important;
}
.w-1\/5 {
  width: 20% !important;
}
.w-1\/4 {
  width: 25% !important;
}
.w-1\/3 {
  width: 33.333333% !important;
}
.w-1\/2 {
  width: 50% !important;
}
.w-40 {
  width: 40% !important;
}
.w-3\/4 {
  width: 75% !important;
}
.w-5\/12 {
  width: 41.666666% !important;
}
.w-1\/12 {
  width: 8.333333% !important;
}
.w-1\/1 {
  width: 100% !important;
}
.w-fitcontent {
  width: fit-content !important;
}
.w-90 {
  width: 90% !important;
}
.w-30 {
  width: 30px !important;
}

@each $break in $_sizesBreaks {
  @include media-below($break) {
    .#{$break}\:w-1\/5 {
      width: 20% !important;
    }
    .#{$break}\:w-1\/6 {
      width: 16.666666% !important;
    }
    .#{$break}\:w-1\/7 {
      width: 14.285714% !important;
    }
    .#{$break}\:w-1\/4 {
      width: 25% !important;
    }
    .#{$break}\:w-1\/3 {
      width: 33.333333% !important;
    }
    .#{$break}\:w-1\/2 {
      width: 50% !important;
    }
    .#{$break}\:w-3\/4 {
      width: 75% !important;
    }
    .#{$break}\:w-1\/1 {
      width: 100% !important;
    }
    .#{$break}\:w-5\/12 {
      width: 41.666666% !important;
    }
    .#{$break}\:w-1\/12 {
      width: 8.333333% !important;
    }
    .#{$break}\:w-90 {
      width: 90% !important;
    }
    .#{$break}\:container-mobile {
      width: calc(100% - 32px) !important;
      max-width: calc(100% - 32px) !important;
      margin: 0px auto !important;
    }
    .#{$break}\:container {
      width: 80% !important;
      max-width: 80% !important;
      margin: 0px auto !important;
    }
  }
}

.flex-column {
  flex-direction: column;
}

@each $break in $_sizesBreaks {
  @include media-below($break) {
    .#{$break}\:flex-column {
      flex-direction: column !important;
    }
  }
}

.justify-start {
  justify-content: flex-start !important;
}
.justify-end {
  justify-content: flex-end !important;
}
.justify-center {
  justify-content: center !important;
}
.justify-between {
  justify-content: space-between !important;
}
.items-start {
  align-items: flex-start !important;
}
.items-end {
  align-items: flex-end !important;
}
.items-center {
  align-items: center !important;
}
.items-normal {
  align-items: normal !important;
}

@each $break in $_sizesBreaks {
  @include media-below($break) {
    .#{$break}\:justify-start {
      justify-content: flex-start !important;
    }
    .#{$break}\:justify-end {
      justify-content: flex-end !important;
    }
    .#{$break}\:justify-center {
      justify-content: center !important;
    }
    .#{$break}\:justify-between {
      justify-content: space-between !important;
    }
    .#{$break}\:items-start {
      align-items: flex-start !important;
    }
    .#{$break}\:items-end {
      align-items: flex-end !important;
    }
    .#{$break}\:items-center {
      align-items: center !important;
    }
    .#{$break}\:items-normal {
      align-items: normal !important;
    }
  }
}

.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.order-3 {
  order: 3;
}

@each $break in $_sizesBreaks {
  @include media-below($break) {
    .#{$break}\:order-1 {
      order: 1 !important;
    }
    .#{$break}\:order-2 {
      order: 2 !important;
    }
    .#{$break}\:order-3 {
      order: 3 !important;
    }
  }
}

@each $break in $_sizesBreaks {
  @include media-below($break) {
    .#{$break}\:border-right-light {
      border: none !important;
      border-right: 1px solid var(--color-border) !important;
    }
    .#{$break}\:border-bottom-light {
      border: none !important;
      border-bottom: 1px solid var(--color-border) !important;
    }
  }
}

@each $break in $_sizesBreaks {
  @include media-below($break) {
    .#{$break}\:size-25 {
      flex-shrink: 0 !important;
      width: 25px !important;
      height: 25px !important;
    }
    .#{$break}\:size-30 {
      flex-shrink: 0 !important;
      width: 30px !important;
      height: 30px !important;
    }
    .#{$break}\:size-60 {
      flex-shrink: 0 !important;
      width: 60px !important;
      height: 60px !important;
    }
    .#{$break}\:size-70 {
      flex-shrink: 0 !important;
      width: 70px !important;
      height: 70px !important;
    }
    .#{$break}\:size-140 {
      flex-shrink: 0 !important;
      width: 140px !important;
      height: 140px !important;
    }
    .#{$break}\:size-120 {
      flex-shrink: 0 !important;
      width: 120px !important;
      height: 120px !important;
    }
    .#{$break}\:size-100 {
      flex-shrink: 0 !important;
      width: 100px !important;
      height: 100px !important;
    }
    .#{$break}\:size-200 {
      flex-shrink: 0 !important;
      width: 200px !important;
      height: 200px !important;
    }
  }
}

@each $break in $_sizesBreaks {
  @include media-below($break) {
    .#{$break}\:border-none {
      border: none !important;
    }
  }
}

@each $break in $_sizesBreaks {
  @include media-below($break) {
    .#{$break}\:rounded-none {
      border-radius: 0px !important;
    }
  }
}

@each $break in $_sizesBreaks {
  @include media-below($break) {
    .#{$break}\:text-center {
      text-align: center !important;
    }
    .#{$break}\:text-start {
      text-align: start !important;
    }
    .#{$break}\:text-end {
      text-align: end !important;
    }
  }
}

@each $break in $_sizesBreaks {
  @include media-below($break) {
    .#{$break}\:sticky {
      position: sticky !important;
    }
  }
}

@each $break in $_sizesBreaks {
  @include media-below($break) {
    @each $size in $sizes {
      .#{$break}\:bottom-#{$size} {
        bottom: #{$size}px !important;
      }
    }
  }
}
