@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1220px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 92%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 96%;
  }
}

.zalo-chat-widget {
  bottom: 170px !important;
}

.pswp__img {
  object-fit: cover;
  transition: all 4s;
}

::placeholder {
  color: #d0d4df;
  opacity: 1; /* Firefox */
  font-size: 14px;
}

::-ms-input-placeholder {
  /* Edge 12-18 */
  color: #d0d4df;
  font-size: 14px;
}

.menu-social-icon {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  li {
    list-style: none;
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
    transition: opacity 0.4s ease, transform 0.4s ease;
    margin-bottom: 10px;
    a,
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
    }
  }
  .social-icon-1 {
    transition-delay: 0s;
  }
  .social-icon-2 {
    transition-delay: 0s;
  }
  .social-icon-3 {
    transition-delay: 0s;
  }
  .social-icon-4 {
    transition-delay: 0s;
  }
  .toogle {
    width: 60px;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2em;
    transition: all 0.3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

.menu-social-icon.active {
  li {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  .social-icon-4 {
    transition-delay: calc(1s / 4 * 0);
  }
  .social-icon-3 {
    transition-delay: calc(1s / 4 * 1);
  }
  .social-icon-2 {
    transition-delay: calc(1s / 4 * 2);
  }
  .social-icon-1 {
    transition-delay: calc(1s / 4 * 3);
  }
}

@media screen and (max-width: 768px) {
  .menu-social-icon {
    .toogle {
      width: 50px;
      height: 50px;
    }
  }
}

@media screen and (max-width: 600px) {
  .menu-social-icon {
    .toogle {
      width: 40px;
      height: 40px;
    }
  }
}
