.addonContainer {
  .addonImage {
    position: relative;

    .checkBoxAddon {
      background-color: white;
      padding: 8px;
      position: absolute;
      top: 5%;
      right: 5%;
    }
  }
}
