:root {
  --font-primary: "Be Vietnam Pro";
}

$breakpoints: (
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1280px,
);

$breakpoints-loop: (
  xxl: 1280px,
  xl: 1200px,
  lg: 992px,
  md: 768px,
  sm: 576px,
  xs: 480px,
);

$font-size: 16px;
$text-sizes: 4, 7, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 22, 24, 25, 26, 30,
  32, 40, 50, 60, 68, 70, 72, 80;

:root {
  @each $size in $text-sizes {
    --text-#{$size}: #{$size}px;
  }
}

$colors: (
  white: #ffffff,
  black: #000000,
  border: #ededf4,

  pink: #f52549,
  pink-light: #f525490d,

  dark-1: #3a3e4d,
  dark-2: #0d2857,
  dark-3: #f52549,
  dark-4: #163c8c,

  gray-1: #f9f9f9,
  gray-2: #b1b1b1,

  light-1: #697488,
  light-2: #f5f5f5,
  light-3: #fbfcff,
  light-4: #fbfbfb,
  light-5: #f1f4fd,

  blue-1: #f52549,
  blue-2: #e5f0fd,
  blue-light: #f7fafc,

  green-1: #ebfcea,
  green-2: #008009,

  yellow-1: #f8d448,
  yellow-2: #e1c03f,
  yellow-3: #ffc700,
  yellow-4: #fff8dd,
  yellow-star: #ffc414,
  yellow-dark: #ed8936,

  brown-1: #923e01,

  purple-1: #7e53f9,

  red-1: #d93025,
  red-2: #f1416c,
  red-3: #fff5f8,

  info-1: #cde9f6,
  info-2: #4780aa,
  info-3: #ddf6ff,

  warning-1: #f7f3d7,
  warning-2: #927238,
  warning-3: #ff9914,
  error-1: #ecc8c5,
  error-2: #ab3331,
  success-1: #def2d7,
  success-2: #5b7052,

  neutral-50: #ededf4,
  neutral-100: #d0d4df,
  neutral-400: #80859b,
  neutral-300: #969bae,
  neutral-500: #6a718a,
  neutral-700: #4b5063,
  neutral-800: #3a3e4d,

  primary-30: #fff7f9,
  primary-40: #fff0f3,
  primary-50: #fdd3db,
  primary-300: #f86e86,
  primary-400: #f74967,
  primary-500: #f52549,

  secondary-500: #00aeed,

  action-highlight: #f70076,
  action-success: #00b507,
  action-success-light: #e1ffe2,
  action-secondary: #00aeed,
  action-warning: #ffc414,
  action-link: #0053f3,

  warning-more: #ff9914,
);

:root {
  @each $name, $color in $colors {
    --color-#{ "" + $name }: #{$color};
  }
}
