.hotel_item {
  .hotel_item-name {
    font-family: Be Vietnam Pro;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3a3e4d;
  }
  .hotel_item-address {
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3a3e4d;
    width: 100%;
  }
  .hotel_item-distance {
    .hotel_item-distance-text {
      font-family: Be Vietnam Pro;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #969bae;
    }
  }
  .hotel_item_room-info {
    border-left: 1px solid #00b507;
    padding-left: 8px;
    background: linear-gradient(
      90deg,
      rgba(236, 236, 236, 0.2) 0%,
      rgba(143, 143, 143, 0) 100%
    );
    // .hotel_item_room-name {
    //   font-family: Be Vietnam Pro;
    //   font-size: 16px;
    //   font-weight: 400;
    //   line-height: 28px;
    //   text-align: left;
    //   text-underline-position: from-font;
    //   text-decoration-skip-ink: none;
    //   color: #3a3e4d;
    // }
    .hotel_item_room-bed {
      .hotel_item_room-bed-text {
        font-family: Be Vietnam Pro;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #969bae;
        margin-left: 4px;
      }
    }
  }
  .hotel_item_payment_policy {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    .hotel_item_payment_policy-text {
      font-family: Be Vietnam Pro;
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #00b507;
      margin-left: 8px;
    }
  }
  .hotel_item_cancel_policy {
    display: flex;
    align-items: center;
    // .hotel_item_cancel_policy-text {
    //   font-family: Be Vietnam Pro;
    //   font-size: 16px;
    //   font-weight: 400;
    //   line-height: 16px;
    //   text-align: left;
    //   text-underline-position: from-font;
    //   text-decoration-skip-ink: none;
    //   color: #00b507;
    //   margin-left: 8px;
    // }
  }
  .hotel_item_tag {
    //styleName: Small/Regular - size 14px;
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3a3e4d;
  }
  .btn-wishlist {
    transition: all 0.3s;
    &:hover {
      .icon-heart {
        color: #fff !important;
      }
    }
  }
  .hotel_item-middle {
    max-width: 430px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .hotel_item {
    .hotel_item-image {
      width: 220px;
      min-height: 220px;
      height: 220px;
      object-fit: contain;
      .mySwiper {
        width: 220px;
        height: 220px;
        min-height: 220px;
      }
    }
    .hotel_item-middle {
      max-width: 225px;
    }
  }
}

@media (max-width: 767px) {
  .hotel_item {
    .hotel_item-image {
      width: 100%;
      min-height: 200px;
      height: 200px;
      object-fit: contain;
      .mySwiper {
        width: 100%;
        height: 200px;
        min-height: 200px;
      }
    }
    .custom_show_price {
      min-height: 65px;
    }
  }
}
