.time_remainning {
  background-color: #f74967;
  color: white;
  .time_remainning-text {
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
    text-align: center;
    padding: 8px 0;
  }
}
